h1{
	font-size: 150px;
	text-align: center;
	color: #654321;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

#heading{
    border: none;
    font-size: 150px;
    background: none;
    color: #654321;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
  }

.choice_button {
	width: 22%;
	height: 200px;
	font-size: 40px;
	transition-duration: 0.4s;
	position: relative;
	border-width: medium;
	border-radius: 10px;
	background-color:#7c4700;
}

/*Hover effects for buttons*/
.choice_button:hover {
  background-color: #f4b17a; 
  color: white;
}


/*Active effects for buttons*/
.choice_button:active{
  background-color: #f57c5f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#easy_button{
    left: 5px;
}

#medium_button{
    left: 230px;
}

#hard_button{
    left: 455px;
}



