h1{
	font-size: 150px;
	text-align: center;
	color: #654321;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

#heading{
    border: none;
    font-size: 150px;
    background: none;
    color: #654321;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
  }

#login_button {
	width: 30%;
	height: 200px;
	font-size: 50px;
	transition-duration: 0.4s;
	position: relative;
    left: 150px;
	border-width: medium;
	border-radius: 10px;
	background-color:#7c4700;
}

#guest_button {
	width: 30%;
	height: 200px;
	font-size: 50px;
	transition-duration: 0.4s;
	position: relative;
    left: 450px;
	border-width: medium;
	border-radius: 10px;
	background-color:#7c4700;
}

/*Hover effects for buttons*/
#login_button:hover {
  background-color: #f4b17a; 
  color: white;
}

#guest_button:hover {
  background-color: #f4b17a; 
  color: white;
}

/*Active effects for buttons*/
#login_button:active{
  background-color: #f57c5f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#guest_button:active{
  background-color: #f57c5f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

